version: "3.7"

services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    ports:
      - "{{ .Service.Network.Grpc.Port }}:{{ .Service.Network.Grpc.Port }}"
  {{ if .Service.Network.Http.Enabled }}
  http:
    build:
      context: .
      dockerfile: docker/http/Dockerfile
    environment:
      - APP_HOST=app
      - APP_PORT={{ .Service.Network.Grpc.Port }}
    ports:
      - "{{ .Service.Network.Http.Port }}:{{ .Service.Network.Http.Port }}"
  {{- end}}
