.features {
  align-items: center;
  @media only screen and (max-width: 641px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .title {
    color: white;
    font-weight: 400;
    text-transform: inherit;
    max-width: 34rem;
  }
  @media screen and (max-width: 768px) {
    .title {
      padding: 0 2rem;
    }
  }

  .row {
    justify-content: center;
  }

  &>div{
    row-gap: 3rem;
  }

  h3 {
    line-height: 250%;
    color: var(--ifm-color-secondary);
    margin-bottom: 1rem;
  }

  p {
    color: white;
    font-size: 0.9rem;
    padding: 0 calc(var(--ifm-spacing-horizontal)*2);
  }

  .featureSvg {
    height: 2.5rem;
  }
  .featureSvg path {
    fill: var(--ifm-color-secondary);
  }
}

