h3.title {
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat";
}

.trusted {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  row-gap: 2em;

  li{
    list-style: none;
    margin: 0 1.25rem;
    height: 100px;
    width: 200px;
    background-color: rgba(196, 196, 196, 0.5);
    display: flex;
    border-radius: 5px;
    padding: 2rem;

    &:hover{
      background-color: rgba(220,235,245, 0.8);
    }

    a{
      align-self: center;
      line-height: 0;
    }
  }
}
