.offerings_container{
  text-align: center;
  padding: 9rem 8rem 5rem;
  margin: 0 auto;
  min-height: 53rem;
  background-color: #E8EDF4;
  color: var(--ifm-landing-page-inverse-font-color);


  .offering_box {
    display: flex;
    column-gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.left_box{
  flex: 0 1 270px;
  margin: 2rem 0px;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem;

  .discipline {
    display: flex;
    height: 5rem;
    column-gap: 1rem;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    flex: 0 0 auto;
    cursor: pointer;
    border-radius: 12px;
    background: #D7DEE8;
    padding-right: 1rem;

    .logo {
      flex: 1;
      height: 3rem;
      align-self: center;
      margin: 1rem;
    }

    .discipline_name {
      flex: 4;
      align-self: center;
      line-height: 0;
      margin: 0;
      text-align: left;
      font-size: 1rem;
    }
    &:hover:not(.discipline_active) .discipline_name{
      color: var(--ifm-color-secondary);
    }
  }

  .discipline_active{
    background: var(--ifm-color-secondary);
    color: var(--ifm-color-dark-active);

    .logo path{
      fill: var(--ifm-color-dark-active);
    }

    &:after {
      content: "";
      width: 5rem;
      right: -5rem;
      height: 0px;
      align-self: center;
      position: absolute;
      border-top: 4px dashed var(--ifm-color-secondary);
    }
  }
}

.right_box{
  border: 4px dashed var(--ifm-color-secondary);
  border-radius: 12px;
  display: flex;
  padding: 2rem;
  flex: 0 0 330px;

  ul{
    height: 100%;
    width: 100%;
    align-self: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    li {
      list-style: none;
      justify-self: stretch;
      flex: 1 1 40px;

      a{
        display: flex;
        column-gap: 1rem;
        text-decoration: none;
        color: var(--ifm-landing-page-inverse-font-color);
        font-weight: bold;

        &:hover{
          color: var(--ifm-color-secondary);
        }
      }

      img{
        width: 32px;
        border-radius: 50%;
        padding: 0;

        &.no-crop{
          border-radius: 0;
        }
      }

      p{
        flex: 5;
        text-align: left;
        font-size: 1.1rem;
        margin: 0;
        align-self: center;
        font-family: 'Montserrat';
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }
}

/**
  box becomes stacked when screen is small
  and the dotted line is vertical instead of horizontal
**/
@media screen and (max-width: 919px) {
  .offerings_container {
    padding: 5rem 2rem;
    min-height: 62rem;
  }
  .left_box {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;

    .discipline {

      .logo {
        flex: 1 1 33px;
        margin: 0.5rem;
      }
    }
    .discipline_active{
      order: 1;
      flex: 4 4 100%;
      margin: 0 16%;

      &:after {
        content: "";
        width: 0px;
        height: 2rem;
        right: 50%;
        position: absolute;
        border-right: var(--ifm-color-secondary) dashed 4px;
        bottom: -2rem;
        box-sizing: border-box;
        overflow: visible;
      }
    }
  }
}
