version: 2.1
jobs:
  build:
    docker:
      - image: {{ .CI.BuildImage }}:{{ .CI.BuildTag }}
    steps:
      - checkout
      - run:
        name: Build
        command: |
          {{ .CI.BuildCommand }}

  test:
    docker:
      - image: {{ .CI.BuildImage }}:{{ .CI.BuildTag }}
    steps:
      - checkout
      - run:
        name: Test
        command: |
          {{ .CI.TestCommand }}


workflow:
  version: 2.1
  build_and_test:
    jobs:
      - build
      - test
