version: 2.1
jobs:
  build:
    docker:
    {{ if .CI.BuildImage }}- image: {{ .CI.BuildImage }}{{ else if eq .CI.BuildImage "go" }}- image: circleci/golang:1.12-node{{ end }}
    steps:
      - checkout
      - run: 
        name: Build
        command: |
          {{ if .CI.BuildCommand }}{{ .CI.BuildCommand }}{{ else }}make build{{ end }}

  test:
    docker:
    steps:
      - checkout
      - run: 
        name: Test
        command: |
          {{ if .CI.BuildCommand }}{{ .CI.BuildCommand }}{{ else }}make test{{ end }}


workflow:
  version: 2.1
  build_and_test:
    jobs:
      - build
      - test