organization: {{.Organization}}
name: {{.ProjectName}}
description: {{.Description}}
maintainers:
  {{range .Maintainers}}
  # - name: {{.Name}}
  #   email: {{.Email}}
  {{end}}

infrastructure:
  aws:
    accountId: 1234
    region: us-east-1
    eks:
      clusterName: staging
      deploy: true
    cognito:
      deploy: true
    s3_hosting
      deploy: true

frontend:
  framework: {{.FrontendFramework}}
  ci:
    system: github
  app:
    name: {{.ProjectName}}

services:
  {{range .Services}}
  - name: {{.Name}}
    description: {{.Description}}
    language: {{.Language}}
    gitRepo: {{.GitRepo}}
    dockerRepo:
    ci:
      system: circleci
      buildImage: golang/golang
      buildTag: 1.12
      buildCommand: make build
      testCommand: make test
    network:
      grpc:
        host: 0.0.0.0
        port: 3000
      http:
        enabled: true
        port: 8080
      web:
        enabled: true
        port: 8090
  {{end}}
