organization: mycompany
name: {{.}}
description:
git-repo: github.com/yourrepo
docker-repo:
maintainers:
# - name: bob
#   email: bob@test.com

network:
  grpc:
    host: 0.0.0.0
    port: 3000
  http:
    enabled: true
    port: 8080
  web:
    enabled: true
    port: 8090

react:
  app:
    name: {{.}}
  header:
    enabled: true
  account:
    enabled: true
    required: false
  sidenav:
    enabled: true

services:
