package main
import (
	"log"
	"net"

	health "{{ .GitRepo }}/{{ .Name }}/server/health"
	healthpb "{{ .GitRepo }}/{{ .Name }}-idl/gen/go/health"


	"google.golang.org/grpc"
)

func main() {
	grpcAddr := "{{ .Network.Grpc.Host }}:{{ .Network.Grpc.Port }}"
	lis, err := net.Listen("tcp", grpcAddr)
	if err != nil {
		log.Fatalf("failed to listen: %v", err)
	}
	s := grpc.NewServer()

	//TODO: Register your servers here
	healthServer := health.NewHealthServer()
	healthpb.RegisterHealthServer(s, healthServer)

	log.Printf("Starting grpc server on %v...", grpcAddr)
	
	if err := s.Serve(lis); err != nil {
		log.Fatalf("failed to serve: %v", err)
	}
}
