package {{ .Service.Name }}

import (
	"context"
	health_api "{{.Service.GitRepo}}/{{ .Config.Name }}-idl/gen/go/health"
	//api "{{.Service.GitRepo}}/{{ .Config.Name }}-idl/gen/go/{{ .Service.Name }}"
)

type {{ .Service.Name | Title }}Server struct {

}

func New{{ .Service.Name | Title }}Server() *{{ .Service.Name | Title }}Server {
	return &{{ .Service.Name | Title }}Server{}
}

func (s *{{ .Service.Name | Title }}Server) Check(ctx context.Context, req *health_api.HealthCheckRequest) (*health_api.HealthCheckResponse, error) {
	resp := &health_api.HealthCheckResponse{
		Status: health_api.HealthCheckResponse_SERVING,
	}
	return resp,nil
}
