package {{ .ServiceName }}

import (
	"context"
	api "{{.GitRepo}}/{{ .ProjectName }}-idl/gen/go/{{ .ServiceName }}"
)

type {{ .ServiceName | Title }}Server struct {

}

func New{{ .ServiceName | Title }}Server() *{{ .ServiceName | Title }}Server {
	return &{{ .ServiceName | Title }}Server{}
}
