export default {
  app: {
    name: '{{ .Frontend.App.Name }}',
  },
  account: {
    enabled: {{ .Frontend.Account.Enabled }},
    required: {{ .Frontend.Account.Required }},
  },
  header: {
    enabled: {{ .Frontend.Header.Enabled }},
  },
  sidenav: {
    enabled: {{ .Frontend.Sidenav.Enabled }},
    items: [
      {{ range .Frontend.Sidenav.Items }}
      {
        path: '{{ .Path }}',
        label: '{{ .Label }}',
        icon: '{{ .Icon }}',
      },
      {{ end }}
    ]
  },
  views: [
    {{ range .Frontend.Views }}
    {
      path: '{{ .Path }}',
      component: '{{ .Component }}',
    },
    {{ end }}
  ],
}
